{
  "servers": {
    "ciscoNDServer": {
      "type": "stdio",
      "command": "/path-to-bin/uv",
      "args": [
        "run",
        "--with",
        "mcp[cli]",
        "mcp",
        "run",
        "/path-to-your-app/main.py"
      ]
    }
  }
}
